/* General */
* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    background: #ccc;
}
a, a:hover { 
    text-decoration: none; 
    color: inherit;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both; }
.container {
    width: 1200px;
    margin: 0 auto;
}

/* Header */
.container-header {
    width: 1775px;
    margin: 0 auto;
}
#header {
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.logo { float: left; }
.nav { 
    float: right; 
    padding-top: 10px;
}
.nav li {
    float: left;
    margin-right: 50px;
    list-style: none;
}
.nav a:hover {
    color: #ccc;
}
.nav li:last-child {
    margin-right: 0;
}
.nav a {
    font-family: 'Maven Pro', sans-serif;
    color: #fff;
    font-size: 1.3em;
}

/* Home */
#home {
    height: 930px;
    padding-top: 330px;
    text-align: center;
    background: #333 url(../images/bg.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#home h1 {
    font: 48px/68px 'Montserrat-Light', arial;
    text-transform: uppercase;
    color: #fff;
}
#home button {
    text-transform: uppercase;
    border: 2px solid #fff;
    color: #fff;
    font: 28.87px 'Montserrat', sans-serif;
    background: inherit;
    padding: 30px 40px;
    margin-top: 90px;
    display: inline-block;
}
#home button:hover {
    color: #ccc;
    border-color: #ccc;
    cursor: pointer;
}

/* Products */
#products {
    background: #f5f5f5;
    text-align: center;
}
#products h2.title {
    padding: 210px 0 0;
}
.image-slider-item {
    float: left;
    width: 355px;
    height: 355px;
    margin: 30px 10px;
    vertical-align: middle;
}
.image-slider-item:first-child {
    background: url(../images/product1.png) no-repeat center center;
}
.image-slider-item:nth-child(2) {
    background: url(../images/product2.png) no-repeat center center;
    width: 420px;
    height: 415px;
    margin-top: 0;
}
.image-slider-item:last-child {
    background: url(../images/product3.png) no-repeat center center;
}
#switch-radio {
    width: 400px;
    margin: 75px auto 0;
    padding-bottom: 130px;
    position: relative;
    text-align: center;
}
#switch-radio > input {
    display: none;
}
#switch-radio > input + label {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 8px;
    background: #ccc;
    cursor: pointer;
    z-index: 100;
    margin-right: 15px;
    transition: background 0.8s ease-out 0s
}
#switch-radio > input:checked + label,
#switch-radio > input + label:hover {
    background: #3498db;
}

/* Services */
#service {
    padding: 145px 0;
    text-align: center;
    background: #fff;
}
h2.title {
    text-transform: uppercase;
    font: 36px 'Montserrat-Light', sans-serif;
    color: #999;
    margin-bottom: 70px;
}
h5.title {
    text-transform: uppercase;
    font: 24px 'Montserrat-Light', sans-serif;
    color: #999;
    margin-bottom: 25px;
}
.services-item {
    float: left;
    width: 33%;
    height: 360px;
    padding: 170px 60px 0;
}
.services-item:hover {
    transition: box-shadow 0.8s ease-out 0s;
    -webkit-box-shadow: 0px 11px 91px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 11px 91px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 11px 91px -11px rgba(0,0,0,0.75);
    cursor: pointer;
}
.services-item > p.description {
    font: 16px 'Montserrat-Light', sans-serif;
    color: #999;
    line-height: 1.7em;
}
.light {
    background: url(../images/icons/icon-light.png) no-repeat center 20%;
}
.gps {
    background: url(../images/icons/icon-gps.png) no-repeat center 20%;
}
.globe {
    background: url(../images/icons/icon-globe.png) no-repeat center 20%;
}
.computer {
    background: url(../images/icons/icon-computer.png) no-repeat center 20%;
}
.photo {
    background: url(../images/icons/icon-photo.png) no-repeat center 20%;
}
.mouse {
    background: url(../images/icons/icon-mouse.png) no-repeat center 20%;
}

/* Our products */
#our-products {
    background: #f5f5f5;
    text-align: center;
}
#our-products h2.title {
    padding-top: 120px;
    margin-bottom: 110px;
}
#our-products .our-products-gallery-item {
    position: relative;
    float: left;
    width: 355px;
    height: 355px;
    margin: 0 18px;
    vertical-align: middle;
}
#our-products .our-products-gallery-item:first-child,
#our-products .our-products-gallery-item:nth-child(2),
#our-products .our-products-gallery-item:nth-child(3) {
    margin-bottom: 18px;
}
#our-products .our-products-gallery-item:first-child,
#our-products .our-products-gallery-item:last-child {
    background: url(../images/product1.png) no-repeat center center;
}
#our-products .our-products-gallery-item:nth-child(3),
#our-products .our-products-gallery-item:nth-child(5) {
    background: url(../images/product2.png) no-repeat center center;
}
#our-products .our-products-gallery-item:nth-child(2),
#our-products .our-products-gallery-item:nth-child(4) {
    background: url(../images/product3.png) no-repeat center center;
}
#our-products span.hover-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(113, 183, 230, 0.8);
    opacity: 0;
    transition: all .35s;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
}
#our-products span.hover-effect button {
    text-align: center;
    text-transform: uppercase;
    font: 18.82px 'Montserrat', sans-serif;
    border: 2px solid #fff;
    padding: 25px 40px;
    background: rgba(0,0,0,0);
    margin: 160px 50px;
    color: #fff;
    cursor: pointer;
}
#our-products .our-products-gallery-item:hover span.hover-effect {
    opacity: 1;
}
#our-products a {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font: 24px 'Montserrat-Light', sans-serif;
    color: #3498db;
    padding: 80px 0 90px;
}

/* Testimonials */
#testimonials {
    text-align: center;
    background: #333 url(../images/bg-slider.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#testimonials h2.title {
    padding: 80px 0 60px;
    margin-bottom: 0;
    color: #fff;
}
#testimonials h5.title {
    color: #fff;
    text-transform: none;
    font: 30px 'Montserrat', sans-serif;
}
#testimonials p.description {
    font: 24px 'Montserrat-Italic', sans-serif;
    line-height: 45px;
    color: #fff;
}
#switch-radio-slider {
    width: 400px;
    margin: 50px auto 0;
    padding-bottom: 45px;
    position: relative;
    text-align: center;
}
#switch-radio-slider > input {
    display: none;
}
#switch-radio-slider > input + label {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 8px;
    background: rgba(0,0,0,0);
    border: 2px solid #fff;
    cursor: pointer;
    z-index: 100;
    margin-right: 15px;
    transition: background 0.8s ease-out 0s
}
#switch-radio-slider > input:checked + label,
#switch-radio-slider > input + label:hover {
    background: #fff;
}

/* Contact us */
#contact {
    text-align: center;
    background: #ccc url(../images/bg-contact-form.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#contact h2.title {
    margin-bottom: 0;
    padding: 80px 0 90px;
}
#contact form {
    width: 550px;
    margin: 0 auto;
}
#contact input,
#contact textarea {
    min-width: 550px;
    border: 1px solid #d4d4d4;
    font: 18px 'Montserrat-Light', sans-serif;
    color: #d4d4d4;
    display: inline-block;
    padding: 35px 25px;
    margin-bottom: 17px;
}
#contact textarea {
    resize: none;
    margin-bottom: 0;
}
::-webkit-input-placeholder {color:#b0b0b0;}
::-moz-placeholder          {color:#b0b0b0;}
:-moz-placeholder           {color:#b0b0b0;}
:-ms-input-placeholder      {color:#b0b0b0;}

#contact form a {
    float: right;
    text-transform: uppercase;
    font: 24px 'Montserrat-Light', sans-serif;
    color: #3498db;
    padding: 30px 0 90px;
}

/* Navbar */
#navbar {
    height: 150px;
    background: #fff;
}
#navbar .nav-down { 
    float: left; 
    padding: 60px 0 60px 95px;
}
#navbar .nav-down li {
    float: left;
    margin-right: 65px;
    list-style: none;
}
#navbar .nav-down li:last-child {
    margin-right: 0;
}
#navbar .nav-down a {
    font: 1.5em 'Montserrat-Medium', sans-serif;
    color: #cacaca;
    transition: color 0.5s ease-out 0s
}
#navbar .social-icons {
    padding: 60px 100px 60px 0;
}
#navbar .social-icons i {
    color: #cacaca;
    transition: color 0.5s ease-out 0s
}
#navbar .social-icons li {
    float: right;
    margin-left: 65px;
    list-style: none;
}
#navbar .social-icons li:last-child {
    margin-left: 0;
}
#navbar .nav-down a:hover,
#navbar .social-icons i:hover {
    color: #3498db;
}